doctype html
html
	head
	body
		a(href='/') home
		br
		a(href='/profile') profile page
		h2 All post made can be seen on this page
		each post in posts
			li
				a(href='/posts/single/#{post.id}') title: #{post.title}
			li post number: #{post.author},
			br
			li body: #{post.body},
			br
		div#empty

