doctype html
html
	head
	body
		purba di hinka e nomber den un zin ku ta bisa eseki ta nan profile
		h2= user.name
		h3= user.email
		p Here you can post a message to the messageboard!!
		form(action='/profile' method='post')
				label title
				input#title(name='title' required)
				label message
				input#body(name='body' required)
				input(type='submit' value='post' id='submit')

		p Click on the following link to see all the posts you have made
		br
		a(href='/myposts') See all your posts
		br
		a(href='/') home
		br
		a(href='/logout') log out
		br
		a(href='/posts') view all posts made
